body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.map-overlay {
	position: relative;
	text-align:center;
	z-index: 3;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: rgb(129, 15, 15);
	opacity: 1;

}

p #date-time {
	color: black;
	font-size: 16;
}
.button {
	background-color: rgb(133, 34, 34);
	color: rgb(237, 218, 218);
	border-radius: 10px;
	/* box-shadow: 0px 0px 2px 2px rgb(0,0,0); */
	padding: 5px;
	/* min-height: 30px;
	min-width: 120px; */
	font-size: 32px;
}

.button:hover {
	background-color: rgb(237, 218, 218);
	color: rgb(133, 34, 34);
	transition: 0.7s;
}
